.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('https://img.freepik.com/free-photo/flat-lay-notebook-with-list-desk_23-2148938724.jpg?w=1480&t=st=1690316173~exp=1690316773~hmac=f1fd96274566fee990426eb85d370786eae6383af565ff1ab1a507da0efa7934');
    background-repeat: no-repeat;
    background-size: cover;

}

.title {
    font-size: 5rem;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form-label {
    margin: 10px 0;
    font-size: 1.6rem;
}

.form-input {
    min-width: 250px;
    padding: 10px;
    border: none;
    background-color: #fff;
}

.form-input:focus {
    outline-color: teal;
}
.btn-login {
    margin-top: 20px;
    font-size: 1.8rem;
    background-color: var(--primary);
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    padding: 4px;
}

.btn-register {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}

.btn-register:hover {
    background-color: rgb(1, 114, 114);
}