.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('https://img.freepik.com/free-photo/flat-lay-notebook-with-list-desk_23-2148938726.jpg?w=1480&t=st=1690318200~exp=1690318800~hmac=f5fee09f9850c74b986b33d67dea23ed56db931f139bdd909820bf6b1b235ddb');
    background-repeat: no-repeat;
    background-size: cover;

}

.title {
    font-size: 4rem;
    color: var(--top-bar-color);
    text-align: center;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px 60px;
    border-radius: 10px;
    max-width: 420px;
}

.btn-register {
    margin-top: 20px;
    font-size: 1.8rem;
    background-color: var(--top-bar-color);
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    padding: 10px;
    &:hover {
        background-color: var(--button-hover);
    }
}

.btn-login {
    font-size: 1.8rem;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: var(--primary);
    cursor: pointer;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}

.link {
    text-decoration: none;
    color: inherit;
}


.btn-register:hover {
    background-color: rgb(1, 114, 114);
}

.error-message {
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary);
}

.toast-frame {
    position: fixed;
    top: 32px;
    z-index: 4;
    display: flex;
    min-width: 208px;
    padding: 6px 0px;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    margin-top: 48px;
    animation: sliderInLeft ease 0.3s;
}

.toast-icon {
    font-size: 2.4rem;
    padding: 0 12px;
}

.toast-body {
    flex-grow: 1;
}

.toast-msg {
    font-size: 1.6rem;
    font-weight: 600;
}

.toast-success .toast-icon {
    color: #47d864;    
}


.toast-error .toast-msg {
    color: #47d864;
}

.toast-error {
    border-color: #ff623d;
}

.toast-error .toast-icon {
    color: #ff623d;
}

.toast-error .toast-msg {
    color: #ff623d;
}



@keyframes sliderInLeft {
    from {
        opacity: 0;
        transform: translateY(calc(-180%));
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes FadeOut {
    to {
        opacity: 0;
    }
}


