.settings {
    display: flex;
    font-family: var(--font-family-JosefinSans);
}

.wrapper {
    flex: 9;
    padding: 20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-update {
    font-size: 3rem;
    margin-bottom: 20px;
    color: lightcoral;
}

.title-delete { 
    font-size: 1.4rem;
    color: var(--primary);
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
}



.body {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.form-title {
    font-size: 2rem;
    margin-top: 20px;
}

.form-input {
    font-size: 1.4rem;
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.form-input:focus {
    outline: none;
}

.image {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}

.btn-update {
    font-family: var(--font-family-JosefinSans);
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: teal;
    padding: 12px;
    margin-top: 20px;
    font-size: 1.4rem;
    cursor: pointer;
}

.btn-update:hover {
    background-color: rgb(1, 114, 114);
}
