.header {
    margin-top: 60px;
}

.header-title {
    font-family: var(--font-family-Lora);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #444;
}

.header-title-small {
    position: absolute;
    top: 18%;
    font-size: 2rem;
}

.header-title-large {
    position: absolute;
    top: 20%;
    font-size: 10rem;
}

.header-image {
    width: 100%;
    height: 450px;
    margin-top: 40px;
    object-fit: cover;
}
